.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 15%;
    min-height: 70vh;
}




.container .options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    border-bottom: 2px solid var(--text-color-dark);
}
.options .btn {
    padding: 10px 15px;
    font-size: 1rem;
    font-family: 'Segoe UI';
    text-decoration: none;
    background-color: var(--primary-color-light);
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    color: #fff;
    margin: 1.5rem .5rem;
    border-radius: 8px;
    transition: .7s;
}
.options .btn:hover {
    background-color: var(--secondary-color-light);
    color: var(--text-color-dark);
    transform: scale(1.1);
    transition: .7s;
}
.options form {
    width: 300px;
    padding: 9px 10px 9px 25px;
    display: flex;
    align-items: center;
    border: 1px solid var(--secondary-color-light);
    border-radius: 4rem;
}
.options input {
    outline: none;
    color: var(--text-color-dark);
    border: none;
    font-size: 1rem;
}
.options input::placeholder {
    color: var(--text-color-light);
}
.options form button {
    margin: 5px;
}






.organization-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0% 3% 0%;
}
.organization-container .org-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    padding: 15px 30px;
    background-color: #dbf4ff21;
    box-shadow: inset 0px 0px 20px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    margin: 5px 0px;
    transition: .7s;
    border: 2px solid lightgray;
}
.org-card:hover {
    box-shadow: inset 0px 0px 20px 20px rgba(0, 0, 0, 0.05);
    transition: .8s;
}
.org-card .x {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
}
.org-card  .org_img{
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.org_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.5);
}
.org_info {
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 0 2.5rem;
}
.org_info h1 {
    font-size: 3rem;
    color: var(--primary-color-dark);
    text-transform: capitalize;
    margin: 5px 0px;
}
.org_info p {
    font-size: 13px;
    color: var(--text-color-lighter);
    font-family: 'Segoe UI';
    padding-left: 2px;
}
.org_info .org_vision{
    font-weight: 500;
    color: var(--text-color-dark);
}


.org-card .action_button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.action_button a{
    margin: 6px;
    padding: 7px 30px;
    background: var(--secondary-color-light);
    border-radius: 13px;
    color: var(--text-color-light);
    text-decoration: none;
    transition: .6s;
}
.action_button a:hover{
    background: var(--secondary-color-dark);
    color: white;
    transform: scale(1.2);
    transition: .6s;
}